#container {
    border: 2px solid rgb(27, 27, 213);
    background: #52a7ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBox {
    color: rgb(209, 14, 66);
    background-color: rgb(19, 29, 227);
    border: 2px solid rgb(27, 27, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
}

#color {
    height: 100px;
    width: 350px;
    border: 4px solid rgb(4, 52, 21);
    margin: 70px auto;
    padding: 40px;
}